<h3><%=@pastry.name%></h3>
<h5>This pastry was created by <%=@user.username%>.</h5>

<label>Ingredients:</label><br>
<p><%=@pastry.ingredients%></p><br>

<label>Additional Kitchenware Used:</label><br>
<p><%=@pastry.kitchenware%></p><br>

<label>Directions:</label><br>
<p><%=@pastry.directions%></p><br>

<label>Price Range:</label><br>
<p><%=@pastry.price_range%></p><br>


<a href='/pastries/<%=@user.slug%>/<%=@pastry.slug%>/edit'>Edit Pastry</a>

<form method="POST" action='/pastries/<%=@pastry.id%>/delete'>
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <button type="submit" value="Delete Pastry" name="Delete Pastry" id="Delete Pastry">Delete Pastry</button>
</form>
